<div class="panel panel-default">
    <div class="panel-body" style="padding-top: 10px;">
        <p style="font-size: 15px;"> I am Jiahao Yao (pronounced as "jah-hau-yau"). I am expected to have my B.S. in <a href="http://www.math.pku.edu.cn/en">School of Mathematical Sciences </a> from <a href="http://english.pku.edu.cn"> Peking University</a>.</p>
        <p> A key focus of my research has been on computational mathematics and deep learning. Recent projects include GAN applications in medical image reconstruction, multigrid methods in solving anisotropic Poisson equations, adversarial training of deep generative models, improving neural network safety, and theoretical aspect of deep learning. </p>
        <p style="font-size: 15px;"> Prior to Peking University, I graduated from <a href="http://www.shs.sh.cn/shsEN.action">Shanghai High School </a>. </p>
        <hr>
        <p>
            Contact : <b> jiahaoyao.math [at] gmail.com </b>
        </p>
    </div>
</div>