<div class="panel panel-default">
    <div class="panel-body" style="padding-top: 10px;">
        <p style="font-size: 15px;"> I am a second-year Ph.D. at the Department of Mathematics, University of California, Berkeley. I think about problems about deep learning for scientific computing under the supervision of Prof. <a href="https://math.berkeley.edu/~linlin/index.html">Lin Lin</a>.</p>

        I got my B.S. at <a href="http://www.math.pku.edu.cn/en">School of Mathematical Sciences </a> from <a href="http://english.pku.edu.cn"> Peking University</a>, advised by Prof. <a href="http://bicmr.pku.edu.cn/~dongbin">Bin Dong</a>. I was also lucky enough to collaborate with Prof. <a href="https://web.math.princeton.edu/~weinan/">Weinan E</a> and Prof. <a href="http://www.math.pku.edu.cn/teachers/zhangpw/private/homepage/">Pingwen Zhang</a>.</p>
        <!-- <p> A key focus of my research has been on computational mathematics and deep learning. Recent projects include GAN applications in medical image reconstruction, multigrid methods in solving anisotropic Poisson equations, adversarial training of deep generative models, improving neural network safety, and theoretical aspect of deep learning. </p> -->
        <p style="font-size: 15px;"> Prior to Peking University, I graduated from <a href="http://www.shs.sh.cn/shsEN.action">Shanghai High School </a>. </p>
        <hr>
        <p>
            Contact : <b> 
            <script type="text/javascript">
				//<![CDATA[
				GoFish=new Array();
				GoFish[0]="%3c%61"+"%20";
				GoFish[1]="%68%72%65%66%3d%22%6"+"d%61%69%6c%74%6f%3a%6a%69%6";
				GoFish[2]="1%68%61%6f%79%61%6f%2e%"+"6d%6";
				GoFish[3]="1%74%68%2e%67%6d%61%69%6c%2e%63%6f%6d%22%3e%6a%"+"69%61%68%61%6f%79%61%6f%2e%6d%61%74%68%2e%67%6d%61%69%6c%2e%";
				GoFish[4]="63%6f"+"%6d%3c%2f%61%3e";
				OutString="";
				for (j=0;j<GoFish.length;j++){
				OutString+=GoFish[j];
				}document.write(unescape(OutString));
				//]]>
			</script>
			<noscript>Sorry, you need to enable JavaScript to email me.</noscript>
        </b>
        </p>
    </div>
</div>