<div class="panel panel-default" >
    <div class="panel-heading" id="education">
        <h3 style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">Education</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <!-- <h4>Computer Science Department, <b>Stanford University</b>, <i>Palo Alto, CA</i></h4>
        <p>Ph.D. (First year) </p>
        <hr/> -->
        <h4>School of Mathematical Sciences, <b>Peking Unviersity</b>, <i>Beijing, China</i></h4>
        <p>B.S. in Information and Computing Science (September 2014 - Present)</p>
        <p>Member of the Elite Undergraduate Program for Applied Math led by Prof. <b><a href="https://web.math.princeton.edu/~weinan/"> Weinan E </a></b> (September 2014 - Present)</p>
    </div>
</div>