<div class="panel panel-default" >
    <div class="panel-heading" id="education">
        <h3 style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">Education</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h4>Department of Mathematics, <b>University of California, Berkeley</b>, <i>CA</i></h4>
        <p>Ph.D. in Applied Mathematics (August 2018 - Present) </p>
        <hr/>
        <h4>School of Mathematical Sciences, <b>Peking Unviersity</b>, <i>Beijing, China</i></h4>
        <p>B.S. in Information and Computing Science (September 2014 - June 2018)</p>
        <p>Member of the Elite Undergraduate Program for Applied Math led by Prof. <b><a href="https://web.math.princeton.edu/~weinan/"> Weinan E </a></b> (September 2014 - June 2018)</p>
        <h4>Shanghai High School, <i>Shanghai, China</i></h4>
        <p>Mathematics Class (September 2011 - June 2014)</p>
    </div>
</div>