<div class="panel panel-default">
    <div class="panel-heading" id="work experience">
        <h4>Professional Experience</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h5><b>UC Berkeley, School of Law</b></h5>
        <h6>Graduate Student Researcher - Professor Rachel Stern, Sept. 2017 till now</h6>
        <hr/>
        <h5><b>International Action Network for Gender Equity & Law (iANGEL)</b></h5>
        <h6>Volunteer Researcher, Sept. 2017 till now</h6>
        <hr/>
        <h5><b>Creative Commons</b></h5>
        <h6>Mainland China Team Member, Mar. 2017 till now</h6>
        <hr/>
        <h5><b>The State Council of People's Republic of China, Development Research Center</b></h5>
        <h6>Research Intern, Rule of Law and Governance, Apr. 2017 to Aug. 2017</h6>
        <hr/>
        <h5><b>UN Women (The United Nations Entity for Gender Equality and the Empowerment of Women)</b>, China Office</h5>
        <h6>Full-time Research Assistant, Sept. 2016 to Dec. 2016</h6>
        <hr/>
        <h5><b>Food and Agriculture Organization of the United Nations</b>, China Office</h5>
        <h6>Intern, Emergency Centre for Transboundary Disease, Mar. 2016 to Aug. 2016</h6>
        <hr/>
        <h5><b>Beijing Qianqian Law Firm</b>, formerly Beijing Zhongze Women’s Legal Aid Center</h5>
        <h6>Legal Intern, July 2016 to Aug. 2016</h6>
        <hr/>
        <h5><b>Simmons & Simmons</b>, Beijing Representative Office</h5>
        <h6>Legal Intern, Dec. 2015 to Feb. 2016</h6>
        <hr/>
        <h5><b>International Commission of Jurists</b>, Australian Branch</h5>
        <h6>Researcher, July 2015 to Sept. 2015</h6>
    </div>
</div>
