<footer style="margin-top: 0px;">
    <div class="container" style="margin-top: 25px; margin-bottom: 20px;">
        <hr style="margin-top: 25px; margin-bottom: 25px;" />
        <p style="text-align: center; font-size: 14px;">
            © 2017 •
            <a href="{{ jiahaoyao.github.io }}">jiahaoyao.github.io</a> •
            <a href="{{ mailto:jiahaoyao.math@gmail.edu }}" target="_top">jiahaoyao.math@gmail.edu</a>•
            thanks to <a href="{{ http://tsong.me }}">tsong.me</a> 
        </p>
    </div>
</footer>