<footer style="margin-top: 0px;">
    <div class="container" style="margin-top: 25px; margin-bottom: 20px;">
        <hr style="margin-top: 25px; margin-bottom: 25px;" />
        <p style="text-align: center; font-size: 14px;">
            © 2017 •
            <a href="{{ jiahaoyao.github.io }}">jiahaoyao.github.io</a> •
            <b>
            	<script type="text/javascript">
				//<![CDATA[
				GoFish=new Array();
				GoFish[0]="%3c%61"+"%20";
				GoFish[1]="%68%72%65%66%3d%22%6"+"d%61%69%6c%74%6f%3a%6a%69%6";
				GoFish[2]="1%68%61%6f%79%61%6f%2e%"+"6d%6";
				GoFish[3]="1%74%68%2e%67%6d%61%69%6c%2e%63%6f%6d%22%3e%6a%"+"69%61%68%61%6f%79%61%6f%2e%6d%61%74%68%2e%67%6d%61%69%6c%2e%";
				GoFish[4]="63%6f"+"%6d%3c%2f%61%3e";
				OutString="";
				for (j=0;j<GoFish.length;j++){
				OutString+=GoFish[j];
				}document.write(unescape(OutString));
				//]]>
				</script>
				<noscript>Sorry, you need to enable JavaScript to email me.</noscript>
            </b>•
            thanks to <a href="{{ http://tsong.me }}">tsong.me</a> 
        </p>
                        <p><center>Visitors(From:28/10/2017):</center></p>
<center>
<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=6795583&style=0032&nbdigits=5&type=page&initCount=0" title="url and counting visits" Alt="url and counting visits"   border="0" >
</a> <br/>
<!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="Accurate Visits" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #6D5B77; text-decoration: underline ;"><em>Accurate Visits</em></a>
</center>
</div>
</footer>