<div class="panel panel-default">
    <img src="jh.jpeg" class="img-responsive" style="width: 100%;" alt="Jiaming Song">
    <div class="panel-body">

        <h3>Jiahao Yao </h3>
        <p>
            Department of Mathematics
        </p>
        <p>
            University of California, Berkeley
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" id="News">
        <h3 style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">News</h3>
    </div>
    <div class="panel-body" >
          <h6 style="line-height: 140%;">I am TAing <a href="https://jiahaoyao.github.io/blog/128a19s/">Numerical Analysis</a> this spring. </h6>
      
    </div>
</div>

<!-- <div class="panel panel-default">
    <div class="panel-body">
        <h6>
            <b>Email: </b><a href="mailto:chenchen.z@berkeley.edu" target="_top">chenchen.z@berkeley.edu</a>
        </h6>
        <h6>
            <b>LinkedIn: </b> <a href="https://cn.linkedin.com/in/chenchenz" target="_blank">Chenchen Zhang</a>
        </h6>
        <h6>
            <a href="https://cn.linkedin.com/in/chenchenz" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/linkedin.min.svg" height="24px" width="24px"></a>
            <a href="https://github.com/ceciliazhang" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/github.min.svg" height="24px" width="24px"></a>
        </h6>
    </div>
</div> -->

<!-- <div class="panel panel-default"> 
    <!-- <div class="panel-body">
        <p>
            <b>Email: </b><a href="mailto:tsong@cs.stanford.edu" target="_top">jiahaoyao.math@gmail.com</a>
        </p>
        <p>
            <b>Curriculum Viate:</b> <a href="https://github.com/jiamings/cv/blob/master/jiaming_cv.pdf" target="_blank">Jiahao Yao</a>
        </p>
        p>
            <b>LinkedIn: </b> <a href="https://cn.linkedin.com/in/jiamings" target="_blank">Jiaming Song</a>
        </p>
        <p>
            <a href="https://cn.linkedin.com/in/jiamings" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/linkedin.min.svg" height="24px" width="24px"></a>
            <a href="https://github.com/jiamings" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/github.min.svg" height="24px" width="24px"></a>
            <a href="https://twitter.com/baaadas" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/twitter.min.svg" height="24px" width="24px"></a>
        </p
    </div> -->

