<div class="panel panel-default">
    <div class="panel-heading" id="teaching">
        <h3 style="line-height: 1.5; margin-top: 0; margin-bottom: 0;">Teaching</h3>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
    	<h5>TA for Math 128A (Numerical Analysis), University of California, Berkeley, Jan.-May. 2019.</h5>
    	<h5>TA for Math 121A (Mathematical Tools for the Physical Sciences), University of California, Berkeley, Aug.-Dec. 2018.</h5>
    	<h5>TA for Math 104 (Introduction to Analysis), University of California, Berkeley, Aug.-Dec. 2018.</h5>
        <h5> <b> <a href="http://deeplearningpku.github.io">Deep Learning Short Course (unofficial)</a> </b> , Peking University, Sep.-Dec. 2016.</h5>
    </div>
</div>
