<div class="panel panel-default">
    <div class="panel-heading" id="work experience">
        <h4>Work Experience</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h5><b>Research Engineer</b></h5>
        <h6>Advised by Cheng Chen, Systems Research Group, Microsoft Research Asia, Mar. 2018 to Jun. 2018 
        </h6>
        <h6>Building a toolkit for model management between different machine learning framework <a href="https://github.com/Microsoft/MMdnn" target="_blank">[github]</a></h6>
    </div>
</div>
